*{
    margin:0px;
    padding:0px;
}

body{
    background-image: linear-gradient(#1f4037,#99f2c8);
}

.container{
    display: flex;
    justify-content: center;
    /* border: 2px solid lightsalmon; */
    padding: 20px 20px;
    max-width: 600px;
    margin-top:100px;
    border-radius: 5px;
}

.nav-a{
    font-size: 30px;
    margin-right: 40px;
    margin-left: 20px;
    font-weight: 500;
}

 input:hover{
    border:none;
}
.bInput{
    
    width: 400px;
    margin-right: 10px;
    border: none;
    
    padding: 10px;
    background-color: rgba(237, 241, 244, 0.595);
}



.result{
    display: flex;
    text-align: center;
    justify-content: center;
    /* padding: 5px; */
    /* border: 2px solid lightgreen; */
    
}

.result p{
     margin: 10px; 
    /* padding:5px;  */
    color: black;
    font-weight: 400;
}

.footer{
    position: relative;
    margin-top: 35vh;
    background-color: rgba(0, 0, 0, 0.571);
}


.buttonBody{
    background-color:#1f4037;
color: white;
}

.buttonBody:hover{
    background-color:rgba(255, 255, 255, 0.693);
color:#1f4037
}

.result button{
    border-radius: 4px;
    
}
.buttonDisplay{
    background-color: white;
    
    width: 60px;
    height: 40px;
    text-align: center;
    border: 1px solid black;
    
}
