body {
  margin: 0;
  padding: 0;
}
.top-top {
  display: flex;
}
.top-container {
  flex: 1;
  
  color: white;
}

.top-half{
  background-color:rgb(87, 80, 80);
}
.ver-navbar {
  background-color: rgb(242, 239, 239);
  width: 30px;
  display: inline-block;
}
.ver-list {
  margin: 0;
  padding: 0;
}
.ver-icon {
  list-style: none;
  padding: 24px 5px;
}

.top-container {
  display: inline-block;
  width: auto;
}

.top-image {
  padding:30px 30px;
  width: 180px;
}

.lin-hg{
  line-height: 0px;
  font-size: 10px;
}

.mini {
  padding: 5px;
  font-size: 10px;
  text-decoration: none;
}

table {
  width: 100%;
  color: black;
  font-size: 10px;
  border-style: hidden;
  border-spacing: 0px;
}
td {
  padding: 5px 10px;
}

button {
  border: 2px solid blue;
}

.songs tr:nth-child(even) {
  background-color: rgb(242, 239, 239);
}

.bottom-container {
  background-color: bisque;
  width: 100%;
}

.bottom-one {
  display: inline-block;
}
.bottom-two {
  display: inline-block;

  line-height: 0px;
  font-size: 15px;
}

.bottom-three {
  display: inline-block;
}
.thumbnail {
  display: flex;
}
.current-song {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #43689b;
  color: white;
  padding: 8px;
}
.current-song p {
  margin: 0;
  padding: 0;
}
.current-song .name-and-artist {
  flex: 1;
}

.three{
  margin-top:100px;
}

.meme{
  padding:  20px 60px;
}
