.outer-box {
  height: 200px;
  width: 200px;
  margin-left: 500px;
  margin-top: 200px;
  background-color: white;
  position: relative;

}

.outer-box h2{
    font-size: 40px;
    text-align: center;
    
}

.box {
  height: 100px;
  width: 100px;
  position: absolute;
}

.top-left {
  top: 100px;
  left:100px;
  background-color: red;
  transition-property: transform;
  transition-duration: 2s;
  transform-origin: top left;
}

.top-left:hover {
  transform: rotate(90deg);
} 

.top-right:hover {
  transform: rotate(-90deg);
}

.bottom-left:hover {
  transform: rotate(-90deg);
}

.bottom-right:hover {
  transform: rotate(90deg);
}


.top-right {
  top: 100px;
  left: 200px;
  background-color: yellow;
  transition-property: transform;
  transition-duration: 2s;
  transform-origin: top right;
}

.bottom-left {
  top: 200px;
  left: 100px;
  background-color: blue;
  transition-property: transform;
  transition-duration: 2s;
  transform-origin: bottom left;
}

.bottom-right {
  top: 200px;
  left: 200px;
  background-color: green;
  transition-property: transform;
  transition-duration: 2s;
  transform-origin: bottom right;
}
